<h1 class="<%= @pcc[5] %>">Navigation#home</h1>
<p class="<%= @pcc[4] %>">Find me in app/views/navigation/home.html.erb</p>

<svg width="500" height="500" version="1.1"
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <mask id="tree-mask">
            <image xlink:href="/images/masks/tree_mask_000.png" x="0" y="0" height="500" width="500" />
        </mask>
    </defs>
    <rect class="<%= @pfc[1] %>" x="0" y="0" height="500" width="500" mask="url(#tree-mask)" />
    <!--image xlink:href="/images/masks/tree_mask_000.png" x="0" y="0" height="500" width="500" /-->
</svg>
