.coolors-palette-001-b1 {
    background-color: #82ff9e;
}
.coolors-palette-001-b2 {
    background-color: #a9fbc3;
}
.coolors-palette-001-b3 {
    background-color: #b594b6;
}
.coolors-palette-001-b4 {
    background-color: #935fa7;
}
.coolors-palette-001-b5 {
    background-color: #9b489b;
}
.coolors-palette-001-c1 {
    color: #82ff9e;
}
.coolors-palette-001-c2 {
    color: #a9fbc3;
}
.coolors-palette-001-c3 {
    color: #b594b6;
}
.coolors-palette-001-c4 {
    color: #935fa7;
}
.coolors-palette-001-c5 {
    color: #9b489b;
}
.coolors-palette-001-f1 {
    fill: #82ff9e;
}
.coolors-palette-001-f2 {
    fill: #a9fbc3;
}
.coolors-palette-001-f3 {
    fill: #b594b6;
}
.coolors-palette-001-f4 {
    fill: #935fa7;
}
.coolors-palette-001-f5 {
    fill: #9b489b;
}
