.coolors-palette-005-b1 {
    background-color: #d3f8e2;
}
.coolors-palette-005-b2 {
    background-color: #e4c1f9;
}
.coolors-palette-005-b3 {
    background-color: #f694c1;
}
.coolors-palette-005-b4 {
    background-color: #ede7b1;
}
.coolors-palette-005-b5 {
    background-color: #a9def9;
}
.coolors-palette-005-c1 {
    color: #d3f8e2;
}
.coolors-palette-005-c2 {
    color: #e4c1f9;
}
.coolors-palette-005-c3 {
    color: #f694c1;
}
.coolors-palette-005-c4 {
    color: #ede7b1;
}
.coolors-palette-005-c5 {
    color: #a9def9;
}
.coolors-palette-005-f1 {
    fill: #d3f8e2;
}
.coolors-palette-005-f2 {
    fill: #e4c1f9;
}
.coolors-palette-005-f3 {
    fill: #f694c1;
}
.coolors-palette-005-f4 {
    fill: #ede7b1;
}
.coolors-palette-005-f5 {
    fill: #a9def9;
}
