.coolors-palette-004-b1 {
    background-color: #4e5166;
}
.coolors-palette-004-b2 {
    background-color: #7c90a0;
}
.coolors-palette-004-b3 {
    background-color: #b5aa9d;
}
.coolors-palette-004-b4 {
    background-color: #b9b7a7;
}
.coolors-palette-004-b5 {
    background-color: #747274;
}
.coolors-palette-004-c1 {
    color: #4e5166;
}
.coolors-palette-004-c2 {
    color: #7c90a0;
}
.coolors-palette-004-c3 {
    color: #b5aa9d;
}
.coolors-palette-004-c4 {
    color: #b9b7a7;
}
.coolors-palette-004-c5 {
    color: #747274;
}
.coolors-palette-004-f1 {
    fill: #4e5166;
}
.coolors-palette-004-f2 {
    fill: #7c90a0;
}
.coolors-palette-004-f3 {
    fill: #b5aa9d;
}
.coolors-palette-004-f4 {
    fill: #b9b7a7;
}
.coolors-palette-004-f5 {
    fill: #747274;
}
