.coolors-palette-003-b1 {
    background-color: #82ff9e;
}
.coolors-palette-003-b2 {
    background-color: #daf7dc;
}
.coolors-palette-003-b3 {
    background-color: #abc8c0;
}
.coolors-palette-003-b4 {
    background-color: #70566d;
}
.coolors-palette-003-b5 {
    background-color: #9b489b;
}
.coolors-palette-003-c1 {
    color: #82ff9e;
}
.coolors-palette-003-c2 {
    color: #daf7dc;
}
.coolors-palette-003-c3 {
    color: #abc8c0;
}
.coolors-palette-003-c4 {
    color: #70566d;
}
.coolors-palette-003-c5 {
    color: #9b489b;
}
.coolors-palette-003-f1 {
    fill: #82ff9e;
}
.coolors-palette-003-f2 {
    fill: #daf7dc;
}
.coolors-palette-003-f3 {
    fill: #abc8c0;
}
.coolors-palette-003-f4 {
    fill: #70566d;
}
.coolors-palette-003-f5 {
    fill: #9b489b;
}
