.coolors-palette-006-b1 {
    background-color: #464655;
}
.coolors-palette-006-b2 {
    background-color: #94958b;
}
.coolors-palette-006-b3 {
    background-color: #b7b6c1;
}
.coolors-palette-006-b4 {
    background-color: #d5cfe1;
}
.coolors-palette-006-b5 {
    background-color: #eddfef;
}
.coolors-palette-006-c1 {
    color: #464655;
}
.coolors-palette-006-c2 {
    color: #94958b;
}
.coolors-palette-006-c3 {
    color: #b7b6c1;
}
.coolors-palette-006-c4 {
    color: #d5cfe1;
}
.coolors-palette-006-c5 {
    color: #eddfef;
}
.coolors-palette-006-f1 {
    fill: #464655;
}
.coolors-palette-006-f2 {
    fill: #94958b;
}
.coolors-palette-006-f3 {
    fill: #b7b6c1;
}
.coolors-palette-006-f4 {
    fill: #d5cfe1;
}
.coolors-palette-006-f5 {
    fill: #eddfef;
}
