.coolors-palette-002-b1 {
    background-color: #82ff9e;
}
.coolors-palette-002-b2 {
    background-color: #a2666f;
}
.coolors-palette-002-b3 {
    background-color: #f49390;
}
.coolors-palette-002-b4 {
    background-color: #f45866;
}
.coolors-palette-002-b5 {
    background-color: #9b489b;
}
.coolors-palette-002-c1 {
    color: #82ff9e;
}
.coolors-palette-002-c2 {
    color: #a2666f;
}
.coolors-palette-002-c3 {
    color: #f49390;
}
.coolors-palette-002-c4 {
    color: #f45866;
}
.coolors-palette-002-c5 {
    color: #9b489b;
}
.coolors-palette-002-f1 {
    fill: #82ff9e;
}
.coolors-palette-002-f2 {
    fill: #a2666f;
}
.coolors-palette-002-f3 {
    fill: #f49390;
}
.coolors-palette-002-f4 {
    fill: #f45866;
}
.coolors-palette-002-f5 {
    fill: #9b489b;
}
