.coolors-palette-000-b1 {
    background-color: #243010;
}
.coolors-palette-000-b2 {
    background-color: #87a330;
}
.coolors-palette-000-b3 {
    background-color: #a1c349;
}
.coolors-palette-000-b4 {
    background-color: #cad593;
}
.coolors-palette-000-b5 {
    background-color: #2a3c24;
}
.coolors-palette-000-c1 {
    color: #243010;
}
.coolors-palette-000-c2 {
    color: #87a330;
}
.coolors-palette-000-c3 {
    color: #a1c349;
}
.coolors-palette-000-c4 {
    color: #cad593;
}
.coolors-palette-000-c5 {
    color: #2a3c24;
}
.coolors-palette-000-f1 {
    fill: #243010;
}
.coolors-palette-000-f2 {
    fill: #87a330;
}
.coolors-palette-000-f3 {
    fill: #a1c349;
}
.coolors-palette-000-f4 {
    fill: #cad593;
}
.coolors-palette-000-f5 {
    fill: #2a3c24;
}
